body {
    font-size: 100%;}

.JoinLeaveLink #hl-csslinkbutton {
    float: left;
    padding-bottom: 30px;
    padding-top:10px;}

.AboveContentBarLeft {
    background-color: #fff;
    left: 10px;
    position: fixed;
    top: 0;}

#MainCopy_ctl09_ucPermissionJoin_lnkLeave {
    float: right;
    left: -100px;
    position: relative;}

#MainCopy_ctl09_ucPermissionJoin_lnkJoin_CSSLinkButton1 {
    position: relative;
    top: 50px;}

#MainCopy_ctl01_DivMicrositeContentHeader {
    display: none;}

.ModalPopupPanel {
    padding: 10px;
    border-radius: 5px;}

#MainCopy_ctl01_SessionsDIV {
    display: none;}

#MainCopy_ctl01_StatusRadioButtonList {
    display: none;}

#MainCopy_ctl01_lstCommunityList_join_0_hlcommonSubscribe_0_EmailEditSection_0,
#MainCopy_ctl09_ucPermissionJoin_hlcommonSubscribe_EmailEditSection {
    display: none;}

#AuxMenu {
    background-color: #fff;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    top: -7px;}

.OpenToPrompt,
.OpenToValue {
    display: none;}

p, div {
    font-family: Lucida Sans, sans-serif;}

.TabBlock {
    display: none;}

.EventWhereLbl {
    display: none;}

#MainCopy_ctl01_OwnerPanel {
    display: none;}

#MainCopy_ctl01_AddEvent_CSSHyperLink1 {
    display: none;}

.gettingstarted .Content {
    background-image: url(http://www.nten.org/sites/default/files/13ntccongregation3_0.jpg);
    background-position: 0 0;
    background-repeat: repeat-x;}

#PrinterFriendly {
    display: none;}

#MainCopy_ctl01_RegistrationSettingsDiv {
    display: none;}

h2 {
    background-color: #9ecc3b;
    border: 1px solid #9ecc3b;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-family: Lucida Sans,sans-serif;
    font-size: 108%;
    font-weight: 450;
    padding: 7px 0 6px 10px;
    text-indent: 5px;}

.HLLandingControl div.HtmlContent,
.HLLandingControl div.RSSReader {
    background-color: #FFF;
    border: 1px solid #777;
    border-top: 0 solid #777;
    margin-bottom: 10px;}

#ButtonBarMenu {
    margin-top: 0;}

.profileControlSmall h2 {
    width: 500px !important;}

.profileControlSmall {
    width: 510px!important;}

.bodyBackground {
    background-image: url(http://www.nten.org/sites/default/files/background.jpg);
    background-repeat: repeat-x;
    background-color: #fff;}

.skin-slidedeck dl.slidedeck > dd {
    border-right: 0 !important;
    background: none !important;}

.skin-slidedeck {
    background: none repeat scroll 0 0 transparent!important;
    border: 0 none !important;
    box-shadow: none !important;
    padding: 0 !important;}

.skin-slidedeck {
    margin-left: 10px;}

.FolderView h1 {
    background-color: #9ecc3b;
    color: #fff;
    text-indent: 10px;}

.HLWelcome .Login a:link,.HLWelcome .Login a:visited {
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    font-variant: small-caps;
    background: #9ecc3b;
    padding: 10px;
    top: -30px;
    position: relative;
    border-radius: 10px;
    text-decoration: none;}

#Welcome_Content h1 {
    background-color: #fff;
    color: #ACCB4A;}

#PageTitleH1 {
    background-color: #9ecc3b;
    color: #fff;}

#MainCopy_ctl03_WholeSearch {
    float: right;
    margin-right: 10px;}

#MainCopy_ctl11_ContentPanel {
    position: relative;
    top: 10px;}

.Section3 {
    padding-left: 5px;}

#Welcome_Details_ProfilePic_0 {
    display: block;
    margin-left: auto;
    margin-right: auto;}

.drItemSubHeader {
    border: 1px solid #9ecc3b;}

#Logo img {
    border: 1px solid #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;}

#MessageListContainer .MessageMenuList li:nth-child(5) a{
    font-weight: bold;}

#MainCopy_ctl09_CommunityButton_CSSLinkButton1 {
    float: right;
    top: 10px;
    right: 10px;}

a.actionButton,#hl-csslinkbutton a.actionButton,a.actionButton {
    background: #9ecc3b;
    background-image: -moz-linear-gradient(center top,#439200,#439200);
    color: #fff;}

#MainCopy_ctl09_lnkPostMessage_CSSHyperLink1:hover {
    background-image: -moz-linear-gradient(center top,#439200,#439200);
    color: #ebebeb;}

a.actionButton:hover,#hl-csslinkbutton a.actionButton:hover {
    background-color: #c4ee6f;
    background-image: -moz-linear-gradient(center top,#c4ee6f,#c4ee6f);
    color: #ebebeb;}

#MainCopy_ctl09_divLastMsg {
    display: none;}

#MainCopy_ctl05_WholeSearch {
    position: relative;
    float: right;
    clear: both;}

#ButtonBarMenu ul {
    border: 1px solid #03428E;}

level2 dynamic #MPButtonBar {
    border: 2px solid #03428E;}

li.level2 dynamic {
    background-color: #95a3c8;}

.MenuBarUnderline {
    color: #fff;
    display: none;}

#gallery,#galleriaDescContainerDIV {
    display: none;}

h3 {
    color: #777;}

#MainCopy_ctl05_CommunityButton_CSSLinkButton1 {
    position: relative;
    float: right;
    margin-top: 20px;
    left: 224px;}

#MainCopy_ctl05_CommunityButton_CSSLinkButton1 {
    float: right;
    margin-top: 30px;
    margin-right: -10px;}

#MainCopy_ctl01_ProductList tr:nth-child(1) td:nth-child(2) {
    display: none;}

#MainCopy_ctl09_ucPermissionJoin_lnkJoin_CSSLinkButton1 {
    margin-bottom: 10px;}

.MPContentArea {
    width: 100%;}

.MPContentAreaHome {
    width: 100%;}

#MPimage {
    min-height: 150px;}
#MPOuter {
    width: 100%;}

#MPOuterMost {
    width: 100%;
    max-width: 982px;
    min-width: 450px;}

#MPSlogan {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;}
#MPSearchBlock {
    margin-top: 0em;
    padding-top: 0em;}
#MPSearchBlock table {
    border-collapse: collapse;}

#Logo,
#LeftToLogo,
#RightToLogo {
    min-height: 0px !important;
    width: auto;}
.HLLandingControl h2 {
    height: auto;
    text-align: center;
    padding: 0.5em;}
.HLLandingControl a {
    font-size: 1em;}
img {
    max-width: 100%;
    height: auto;}
body {
    font-family:  "Lucida Grande",Tahoma,"Lucida Sans Regular","Lucida Sans Unicode",Verdana,Arial,sans-serif;
    line-height: 1.5;}
#Logo img {
    border: none;}

#Logo {
    position: relative;
    top: -15px;
    left: -5px;}
.HLWelcomeHeader .Content{
    margin-bottom: 0.3em;
    padding: 0.3em;}
.HLWelcome .UnreadMessages{
    margin-top: 0px;}
.HLWelcomeHeader .Welcome{
    height: auto;
    width: auto;}
#MPAuxNav{
    z-index: 100;}
#ButtonBarMenu ul{
    background-color: #03428E;}
table{
    border-collapse: separate;
    border-spacing: 1em;}
#MPButtonBar {
    height: 42px !important;}

@media (min-width: 40rem) {
    body {
        font-size: 80%;}
}
@media reader {
    #MPSlogan { display: inline;}
}
